---
layout: default
title: GitLab Hackathon
description: "Join the community, hack on GitLab and win prizes!"
canonical_path: "/community/hackathon/"
suppress_header: true
twitter_image: '/images/opengraph/hackathon-generic-card.png'
extra_css:
  - contributing.css
  - styles-2018.css
extra_js:
  - countdown.js
  - hackathon.js
---
-# Schema.org structured data.
:erb
  <script type="application/ld+json">
  {
  "@context": "https://schema.org",
  "@type": "Hackathon",
  "name": "GitLab Hackathon",
  "description": "Get together with the GitLab community to contribute, learn, and win exciting prizes.",
  "organizer" : "GitLab",
  "startDate": "2023-04-23",
  "endDate": "2023-04-30",
  "eventStatus": "https://schema.org/EventScheduled",
  "eventAttendanceMode": "https://schema.org/OnlineEventAttendanceMode",
  "location": {
    "@type": "VirtualLocation",
    "url": "https://about.gitlab.com/community/hackathon/"
  }
  }
  </script>

.wrapper
  .simple-hero
    .container
      .row
        .col-md-8.col-md-offset-2.hero-image
          = partial "includes/icons/hackathon-header.svg"

      .row
        %h1 GitLab Hackathon

      .row
        .col-md-6.col-md-offset-3
          :markdown
            Get together with the GitLab community to contribute, learn, and win exciting prizes.
            <i class="fab fa-gitlab fa-fw" style="color:rgb(252,109,38); font-size:.85em" aria-hidden="true"></i>
            Join us on April 23 - 30, 2023!
            <i class="fab fa-gitlab fa-fw" style="color:rgb(252,109,38); font-size:.85em" aria-hidden="true"></i>
            <br/>
            <br/>
            <span class="h3" id="nextHackathonCountdown">
            <i class="fas fa-spinner fa-spin fa-fw" style="color:rgb(255,255,255)); font-size:.85em" aria-hidden="true"></i>
            </span>

  #content
    .wrapper.container.contributing-content{role: "main"}
      .block
        .block-content
          %h2.block-title Joining in
          :markdown
            <a href="https://www.meetup.com/gitlab-virtual-meetups/events/292094064/">RSVP to our meetup.com event.</a>
            <br/>
            The Hackathon is a virtual event open to anyone who is interested in contributing code, translations, UX designs and more to GitLab.
            By participating in GitLab's Hackathon, you have the opportunity to work on issues that matter to you and advance your skills/experience while joining a global, diverse and inclusive team of contributors and GitLab team members.
            <br/>

            **To get started:**

            **Prior the Hackathon**

            1. Block the dates on your calendar, or [subscribe](https://calendar.google.com/calendar/u/0?cid=Y183OTMwZmNiMGM5ZTQ3ODNiZGQzZDIzODU4YWU5YWY0MzA2ZjI4ZDk3NmE0MGM4MzNmNTA3MTBjN2NiODZiYTgyQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20) to the [GitLab Developer Evangelism calendar](https://about.gitlab.com/handbook/marketing/community-relations/evangelist-program/#upcoming-events) that includes the Hackathon dates and calls.
            1. <a href="https://www.meetup.com/gitlab-virtual-meetups/events/292094064/">RSVP to our meetup.com event.</a>
            1. Identify an issue and leave a comment indicating your interest in working on it. That way it's less likely for multiple people to be working on the same issue.
            <br>
            
            **During the Hackathon**

            1. [Join the sessions](#sessions) to find more about the hackathon or watch the recording that will be posted afterwards.
            1. In case you don't want to work on the issues described in the <a href="#issues-to-contribute">contribute area below</a>:
              <br>- To get started with code, check out the curated list of [issues to contribute to](https://about.gitlab.com/community/contribute/development/), based on the project you are interested in contributing to.
            1. Leave a comment on the issue(s) you are working on. For help, you can ask directly in the issue or at the [contributors channel](#getting-help).
            1. Checkout the live [hackathon leaderboard!](https://gitlab-community.gitlab.io/community-projects/merge-request-leaderboard/).

      .block
        .block-content
          %h2#issues-to-contribute.block-title
            %a{ href: '#issues-to-contribute' } Issues/Epics to contribute to
         
          %p
          :markdown
            | Contribution Area  | Guides | Issues |
            |---------------|-----------------------|--------|----------------------------------|
            | Security | [Contributing to GitLab guide](https://about.gitlab.com/community/contribute/development/#development) | [Qualifying issues](https://gitlab.com/groups/gitlab-org/-/issues?sort=created_date&state=opened&label_name[]=Security+Hackathon) |
            | Frontend | [Frontend Development Guidelines](https://docs.gitlab.com/ee/development/fe_guide/) <br> - [Design and User Interface Changes guide](https://docs.gitlab.com/ee/development/contributing/design.html) | - [UX-related Issues](https://gitlab.com/groups/gitlab-org/-/issues/?sort=weight&state=opened&label_name%5B%5D=UX&label_name%5B%5D=Seeking%20community%20contributions),  [UX-related issues quick win](https://gitlab.com/groups/gitlab-org/-/issues/?sort=weight&state=opened&label_name%5B%5D=UX&label_name%5B%5D=quick%20win&first_page_size=100) <br> - [Frontend-related Issues](https://gitlab.com/groups/gitlab-org/-/issues/?sort=weight&state=opened&label_name%5B%5D=frontend&label_name%5B%5D=Seeking%20community%20contributions),  [Frontend-related issues quick win](https://gitlab.com/groups/gitlab-org/-/issues/?sort=weight&state=opened&label_name%5B%5D=frontend&label_name%5B%5D=quick%20win&first_page_size=100)|
            | Backend  | [Contributing to GitLab guide](https://about.gitlab.com/community/contribute/development/#development) <br> - [GitLab's Architecture](https://docs.gitlab.com/ee/development/architecture.html) | - [GitLab Agent for Kubernetes](https://docs.gitlab.com/ee/user/clusters/agent/) : [All Issues](https://gitlab.com/gitlab-org/cluster-integration/gitlab-agent/-/issues/?sort=weight&state=opened&label_name%5B%5D=Seeking%20community%20contributions&first_page_size=20), [Issues quick win](https://gitlab.com/gitlab-org/cluster-integration/gitlab-agent/-/issues?label_name%5B%5D=quick%20win) <br> - [Stage: Package all issues](https://gitlab.com/gitlab-org/gitlab/-/issues/?sort=created_date&state=opened&label_name%5B%5D=group%3A%3Apackage&label_name%5B%5D=Accepting%20merge%20requests&first_page_size=100), [Issues quick win](https://gitlab.com/gitlab-org/gitlab/-/issues?sort=created_date&state=opened&label_name%5B%5D=group::package&label_name%5B%5D=quick%20win) <br> - [Group: Respond issues](https://gitlab.com/gitlab-org/gitlab/-/issues/?sort=weight_desc&state=opened&label_name%5B%5D=group%3A%3Arespond&label_name%5B%5D=Seeking%20community%20contributions), [Issues quick win](https://gitlab.com/gitlab-org/gitlab/-/issues/?sort=weight_desc&state=opened&label_name%5B%5D=group%3A%3Arespond&label_name%5B%5D=quick%20win&first_page_size=100) <br> - [Group: Optimize all issues](https://gitlab.com/groups/gitlab-org/-/issues?sort=created_date&state=opened&label_name[]=group::optimize&label_name[]=Seeking+community+contributions), [Issues quick win](https://gitlab.com/groups/gitlab-org/-/issues/?sort=created_date&state=opened&label_name%5B%5D=group%3A%3Aoptimize&label_name%5B%5D=quick%20win&first_page_size=20) <br> - [Group: Source Code all issues](https://gitlab.com/groups/gitlab-org/-/issues/?sort=created_date&state=opened&label_name%5B%5D=group%3A%3Asource%20code&label_name%5B%5D=Seeking%20community%20contributions&first_page_size=20), [Issues quick win](https://gitlab.com/groups/gitlab-org/-/issues/?sort=created_date&state=opened&label_name%5B%5D=group%3A%3Asource%20code&label_name%5B%5D=quick%20win&first_page_size=20) <br> - [Group: Editor All Issues](https://gitlab.com/gitlab-org/gitlab/-/issues/?sort=weight_desc&state=opened&label_name%5B%5D=group%3A%3Aeditor&label_name%5B%5D=Seeking%20community%20contributions&assignee_id=None&first_page_size=100), [Issues quick win](https://gitlab.com/gitlab-org/gitlab/-/issues/?sort=weight_desc&state=opened&label_name%5B%5D=group%3A%3Aeditor&label_name%5B%5D=quick%20win&assignee_id=None&first_page_size=100) <br> - [Group: Import All Issues](https://gitlab.com/gitlab-org/gitlab/-/issues/?sort=weight_desc&state=opened&label_name%5B%5D=Seeking%20community%20contributions&label_name%5B%5D=group%3A%3Aimport), [Issues quick win](https://gitlab.com/gitlab-org/gitlab/-/issues/?sort=weight_desc&state=opened&label_name%5B%5D=quick%20win&label_name%5B%5D=group%3A%3Aimport) <br> - [Group: Pipeline execution All Issues](https://gitlab.com/gitlab-org/gitlab/-/issues?sort=created_date&state=opened&label_name[]=group::pipeline+execution&label_name[]=Seeking+community+contributions), [Issues quick win](https://gitlab.com/gitlab-org/gitlab/-/issues/?sort=created_date&state=opened&label_name%5B%5D=group%3A%3Apipeline%20execution&label_name%5B%5D=quick%20win&first_page_size=100) <br> - [Group: Release All Issues](https://gitlab.com/gitlab-org/gitlab/-/issues?sort=created_date&state=opened&label_name[]=group::environments&label_name[]=Seeking+community+contributions), [Issues quick win](https://gitlab.com/gitlab-org/gitlab/-/issues/?sort=created_date&state=opened&label_name%5B%5D=group%3A%3Arelease&label_name%5B%5D=quick%20win&first_page_size=20) <br> - [Group: Compliance](https://gitlab.com/groups/gitlab-org/-/epics/8497) <br> - [Group: Analytics Instrumentation All Issues](https://gitlab.com/gitlab-org/gitlab/-/issues/?sort=created_date&state=opened&label_name%5B%5D=Seeking%20community%20contributions&label_name%5B%5D=group%3A%3Aanalytics%20instrumentation&first_page_size=20) |
            | [Website](https://about.gitlab.com/), [Handbook](https://about.gitlab.com/handbook/) | You can contribute to any page, by clicking "Edit in Web IDE" located in the footer of the page. | Although there is not a specific list of issues to contribute to, we encourage Hackathon participants to explore the website for typos, broken links and outdated information.  |            

            <p class="alert alert-gitlab-purple text-center">
            <span class="h3" id="hackathonMRCount">
            <i class="fas fa-spinner fa-spin fa-fw" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>
            </span>
            </p>

      .block
        .block-content
          %h2#contribute-for-prize.block-title
            %a{ href: '#prize' } Hackathon Prizes

          %p
          :markdown
            We are excited to offer the following prizes for this Hackathon. 

          %p
          :markdown
            <p class="alert alert-info">
            <i class="fas fa-info-circle" aria-hidden="true" style="color: rgb(49, 112, 143);"></i>
            All qualifying MRs must be submitted between April 23rd 00:00 UTC & April 30th 00:00 UTC and be <em>merged</em> by
            May 30th at 00:00 UTC.
            </p>

            | Categories | Eligibility | Description  |
            |------------|-------------|--------------|
            | Grand Prize | Individual(s) with the most points | A 'Tier 3' coupon to select swag from our Community Store |
            | Second Place | Individual(s) with the second most points | A 'Tier 2' coupon to select swag from our Community Store |
            | Merged MR | Everyone with an MR merged | A 'Tier 1' coupon to select swag from our Community Store |

            A preview of the prizes can be found [here](/community/hackathon/assets/gitlab_community_redemption_preview.pdf).

      .block
        .block-content
          %h2#sessions.block-title
            %a{ href: '#sessions' } Hackathon Tutorials & office hour sessions
          :markdown
            Tutorial sessions during the Hackathon help you get kickstarted with contributing and to learn more about GitLab development. More sessions/speakers may be added as they are confirmed.

          %p

          -# Use the following as a template to make your timestamps clickable
          -#= link_to "12:00", "https://www.timeanddate.com/worldclock/fixedtime.html?iso=20230423T1200"
          %table.table
            %thead
              %tr
                %th
                  Date
                %th
                  Time in
                  = link_to "UTC", "https://en.wikipedia.org/wiki/Coordinated_Universal_Time"
                  %br
                  (click for local time)
                %th
                  Topic
                %th
                  Session
                %th
                  Speakers

            %tbody
              %tr
                %td
                  April 23rd
                %td
                  = link_to "12:00", "https://www.timeanddate.com/worldclock/fixedtime.html?iso=20230423T1200"
                %td
                  Hackathon Kickoff - Learn all about our new Hackathon format, and get ready to start contributing
                %td
                  = link_to "Recording", "https://youtu.be/eQ5REqmKSBY"
                %td
                  = link_to "Lee Tickett (@leetickett-gitlab)", "https://gitlab.com/leetickett-gitlab"
              %tr
                %td
                  April 24th
                %td
                  = link_to "12:00", "https://www.timeanddate.com/worldclock/fixedtime.html?iso=20230424T1200"
                %td
                  Hackathon AMA and Live Coding
                %td
                  = link_to "Recording", "https://youtu.be/PoaNAmRo0HY"
                %td
                  = link_to "Lee Tickett (@leetickett-gitlab)", "https://gitlab.com/leetickett-gitlab"
              %tr
                %td
                  April 26th
                %td
                  = link_to "07:00", "https://www.timeanddate.com/worldclock/fixedtime.html?iso=20230426T0700"
                %td
                  Hackathon AMA and Live Coding
                %td
                  = link_to "Recording", "https://youtu.be/uPJaMdb7xXo"
                %td
                  = link_to "Lee Tickett (@leetickett-gitlab)", "https://gitlab.com/leetickett-gitlab"
              %tr
                %td
                  April 27th
                %td
                  = link_to "14:00", "https://www.timeanddate.com/worldclock/fixedtime.html?iso=20230427T1400"
                %td
                  Hackathon AMA and Live Coding
                %td
                  = link_to "Recording", "https://youtu.be/Hf_cGwQ7hKI"
                %td
                  = link_to "Lee Tickett (@leetickett-gitlab)", "https://gitlab.com/leetickett-gitlab"
              %tr
                %td
                  April 28th
                %td
                  = link_to "06:00", "https://www.timeanddate.com/worldclock/fixedtime.html?iso=20230428T0600"
                %td
                  Hackathon AMA and Live Coding
                %td
                  = link_to "Recording", "https://youtu.be/JIlG5-7CMgQ"
                %td
                  = link_to "Lee Tickett (@leetickett-gitlab)", "https://gitlab.com/leetickett-gitlab"
              %tr
                %td
                  April 29th
                %td
                  = link_to "20:00", "https://www.timeanddate.com/worldclock/fixedtime.html?iso=20230429T2000"
                %td
                  Hackathon Wrap Up - A quick check-in, sharing the results and thanking everyone for participating
                %td
                  = link_to "Recording", "https://youtu.be/wipRaj5WjUE"
                %td
                  = link_to "Lee Tickett (@leetickett-gitlab)", "https://gitlab.com/leetickett-gitlab"

          %p
          :markdown
            <p class="alert alert-info">
            <i class="fas fa-info-circle" aria-hidden="true" style="color: rgb(49, 112, 143);"></i>
            If you miss any of the sessions, you will find the recordings in the
            <a href="https://www.youtube.com/playlist?list=PLFGfElNsQthapq-CyXBTVnT2yKqg1JrNh">Hackathon Playlist</a>.
            </p>

          %h3#getting-help.block-title
            %a{ href: '#getting-help' } Getting help
          %p
          :markdown
            For communications during the Hackathon, we will use the `#contribute` channel in Discord.
            This channel is for contribution-related discussions and for community members to help each other when contributing to GitLab.

            It's open to everyone, so please join us at the [Discord Community Server](https://discord.gg/gitlab)!
      
      .block
        .block-content
          %h2#past-events.block-title
            %a{ href: '#past-events' } Hackathon Guidelines
          %p
            Hackathon organizers and GitLab team members reserve the rights to:
            %p
              1. not consider a merge request part of the hackathon if it's spam or could be part of a larger merge request, etc. If a GitLab team member decides to reject an MR, they should leave a comment informing the contributing and the thinking behind their decision.
            %p
              2. to block and ban a user that is not following GitLab's 
              =link_to "Code of Conduct", "https://about.gitlab.com/community/contribute/code-of-conduct/"
            %p
              3. block and ban a user that is using two or more accounts for participating in the Hackathon

    
      .block
        .block-content
          %h2#past-events.block-title
            %a{ href: '#past-events' } Past events

          %p
            To learn more about previous Hackathon events, visit the
            %a{href: "https://about.gitlab.com/community/hackathon/past-events/"} past GitLab Hackathons page.

      .block
        .block-content
          #hackathon-q-a.animated
            %h2#faq.block-title
              %a{ href: '#faq' } Frequently Asked Questions
            .faq-holder.clearfix
              %ol.faq-container.list-unstyled
                %li.faq-item
                  .faq-inner-item
                    %a.faq-question.js-faq-question
                      Which GitLab projects qualify for the Hackathon?
                      %i.fa.fa-angle-down.pull-right
                    .faq-answer
                      :markdown
                        Contributions to all projects under the [`gitlab-org`](https://gitlab.com/gitlab-org) and [gitlab-com](https://gitlab.com/gitlab-com) groups qualify for the Hackathon.
              %ol.faq-container.list-unstyled
                %li.faq-item
                  .faq-inner-item
                    %a.faq-question.js-faq-question
                      How are the points being calculated?
                      %i.fa.fa-angle-down.pull-right
                    .faq-answer
                      :markdown
                        We award 5 points for every merged merge request closing an issue, and 1 point for every merged merge request which does not close an issue.
                        
              %ol.faq-container.list-unstyled
                %li.faq-item
                  .faq-inner-item
                    %a.faq-question.js-faq-question
                      My merge request has been merged. What's next?
                      %i.fa.fa-angle-down.pull-right
                    .faq-answer
                      :markdown
                        After the 30th of May, the team will review all the qualifying issues closed and reach out to contributors. Results will be made public in the second week of June 2023.
