- relative_path = current_page.file_descriptor.relative_path

%h5
  Contribute to this page

%div
  = link_to('View source', blob_editor_url(data.site, monorepo_site_path_fragment, relative_path), class: 'external-source-link')
  &bull;
  = link_to('Open in Web IDE', web_ide_url(data.site, monorepo_site_path_fragment, relative_path), class: 'external-source-link')
  .d-flex.align-items-center.mt-2

